# Ignore the MNIST raw data
MNIST_data/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
.env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

